.header {
  margin: 0 20px;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.menu_header {
  height: 140px;
  display: flex;
  align-items: center;
}

.logo {
  height: 140px;
  width: 150px;
  padding: 0 10px;
  border-radius: 10%;
  overflow: hidden;
  display: block;
  position: fixed;
  top: 20px;
  left: 50px;
  animation: Desaparecer 3s infinite alternate;
  opacity: 0;
}

@keyframes Desaparecer {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.logo:hover {
  background-color: #3cf733;
  opacity: 1%;
  transition: 1.5s;
}

.menu_lista {
  display: flex;
  gap: 16px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_lista_item {
  padding: 10px 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  color: #180b0b;
  border: none;
  border-radius: 10px;
  box-shadow: 6px 6px 10px #333;
  background: linear-gradient(
    to right,
    rgb(228, 246, 106) 0%,
    rgb(70, 70, 247) 50%,
    #71f49a 50%,
    rgb(63, 174, 7) 100%
  );
  background-size: 200% 100%;
  background-position: left center;
  transition: 1s;
}

.menu_lista_item:hover {
  background-position: right center;
  box-shadow: 3px 3px 4px #333;
}

.menu_hamburguesa {
  display: none;
}

.menu_hamburguesa button {
  font-size: 40px;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #180b0b;
}

.menu_desplegable {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 80%;
  background-color: #cdcaca;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu_desplegable.activo {
  display: block;
}

.menu_desplegable ul {
  list-style-type: none;
  padding: 10px 0;
  margin: 0;
}

.menu_desplegable ul li {
  text-align: center;
  padding: 10px 0;
}

.menu_desplegable ul li a {
  text-decoration: none;
  color: #180b0b;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  box-shadow: 6px 6px 10px #333;
  background: linear-gradient(
    to right,
    rgb(228, 246, 106) 0%,
    rgb(70, 70, 247) 50%,
    #71f49a 50%,
    rgb(63, 174, 7) 100%
  );
  background-size: 200% 100%;
  background-position: left center;
  transition: 1s;
  display: block;
  text-align: center;
  margin: 0 40px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.menu_desplegable ul li a:hover {
  background-position: right center;
  box-shadow: 3px 3px 4px #333;
}

@media (max-width: 1100px) {
  .menu_lista {
    display: none;
  }

  .menu_hamburguesa {
    display: block;
  }
}

@media (min-width: 1100px) {
  .menu_desplegable {
    display: none;
  }
}
